.dapp-topbar {
  width: 100%;
  align-items: center;
  a,
  button {
    white-space: nowrap !important;
    overflow: hidden !important;
    margin: 6px !important;
    min-width: fit-content !important;
    min-height: 40px !important;
    &#hamburger {
      padding: 11px !important;
    }
    &.toggle-button {
      padding: 9.5px !important;
    }
  }
}
.dKfWpB {
  background-color: black;
  .bElhDP {
    .hKhOIm {
      background: transparent;
      .gHoDBx {
        color: #11ffbd;
      }
      .eCZoDi {
        color: white;
      }
    }
  }
}
.tablet .dapp-topbar {
  justify-content: space-between;
}
.pending-txn-container {
  display: flex;
  align-items: center;
  padding: 10px !important;
  .MuiButton-label {
    margin-right: 0;
    transition: all 0.33s ease-out;
    font-size: 14px;
    font-weight: 500;
  }
}
#rip-popper-pending {
  .MuiPaper-root.rip-menu {
    a {
      padding-right: 20px !important;
    }
  }
}
.caret-down {
  position: absolute;
  right: 0.4rem;
}
.hovered-button {
  .MuiButton-label {
    margin-right: 0.5rem;
    transition: all 0.33s ease-out;
  }
}
